
/* <--- COMMONS ---> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 75%;
    margin: 0 auto;
    max-width: 1170px;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* <--- HEADER ---> */

header{
    height: 80px;
    background-color:#255ee9 ;
    line-height: 80px;
}

#logo img{
    width: 50%;
    vertical-align: middle;
}

#logo, #log-in{
    float: left;
    width: 20%;
    text-align: center;
}

nav{
    float: left;
    width: 60%;
    text-align: center;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    text-decoration: none ;
    color: white;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 500;
}
nav ul li:hover{
    text-decoration: underline;
    color:white;
}

/* <--- JUMBOTRON ---> */

#jumbotron{
    background-image: url('../img/jumbo.png');
    height: 600px;
    width: 100%;
    background-size: cover;
    text-align: center;
    position: relative;
    
}

#jumbotron .jumbo-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


#jumbotron .jumbo-text h1{
    font-size: 50px;
}

#jumbotron .jumbo-text p{
    font-size: 18px;
    line-height: 1.6;
    display: inline-block;
    margin: 40px 0 30px 0;
}

/* <--- MAIN ---> */

main section img, .item-text{
    float: left;
    width: calc(100% / 2);
}

main section img{
    margin-top: 65px
}

.item-text{
    margin-top: 100px;
}

main h2 {
    font-size: 26px;
}

main p{
    font-size: 12px;
    line-height: 1.6;
    margin-top: 20px;
}

main p, main h2{
    width: 200px;
    margin-left: 200px ;
    color: #23272a ;
}




/* <--- BUTTON ---> */

.btn-white{
    color: black;
    background-color: white;
    border-radius: 2em;
    text-decoration: none;
    padding: 10px 15px;
    transition: box-shadow, color;
    transition-duration: 1s;
}

.btn-white:hover{
    color: #255ee9;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.btn-black{
    color: white;
    background-color: black;
    border-radius: 2em;
    text-decoration: none;
    padding: 10px 15px;
    transition: box-shadow, color;
    transition-duration: 1s;
}

.btn-black:hover{
    background-color:#23272a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.btn-blue{

}

.big{
    padding: 15px 20px;
}

#log-in .btn-white{
    font-size: 12px;
    font-weight: 500;
}
#jumbotron .btn-white{
    margin-right: 20px;
}
/* <--- DEBUG ---> */

/* .debug header{
    background-color: #3b63d8; 
} */

/* .debug .container{
    background-color: blueviolet;
    height: 100%;
} */

/* .debug #logo{
    background-color: chartreuse;
    height: 80px;
    border: 1px solid black;
} */

/* .debug nav{
    background-color: palevioletred;
    height: 80px;
    border: 1px solid black;
}

.debug #log-in{
    background-color: rgb(0, 247, 255);
    height: 80px;
    border: 1px solid black;
} */

/* .debug #jumbotron{
    border: 1px solid black;
} */

/* .debug .jumbo-text{
    border: 1px solid black;
} */

/* .debug .item-text {
   
    background-color: red;
    border: 1px solid black;

} 

.debug .img-plus-text {
    border: 1px solid black;
    background-color: grey;
  
}

.debug main section img {
    border: 1px solid black;
   
}
 */
